@import url('font-awesome.min.css');

* {
  padding: 0;
  margin: 0;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
  width: 1024px;
  margin: auto;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 1rem;
  background-color: #4196c2;
  color: #FFFFE3;
  /*box-shadow: 0px 0px 2px 0px #2C3E50;*/
  margin-bottom: 1.5rem;
}

nav .brand {
  order: 1;
}

nav .brand h1{
  font-weight: 300;
  font-size: 2.2rem;
}

nav .menu {
  order: 2;
}

.menu ul{
  list-style-type: none;
}

.menu li{
  display: inline-block;
  margin: 0 0.8rem;
  font-size: 1.4rem;
}

.menu li button {
  display: inline-block;
  font-size: 1.4rem;
  border: none;
  outline: none;
  background: transparent;
  color: #FFFFE3;
  cursor: pointer;
}

.menu li button:disabled {
  color: #7ab6d4;
}

#downloadLink {
  display: none;
}

#importLink {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.action-bar {
  background-color: #f9fbfc;
  height: 5rem;
  line-height: 5rem;
  padding: 0 1rem;
  text-align: center;
  /*box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);*/
  margin-bottom: 1rem;
}

.action-bar ul {
  list-style-type: none;
}

.action-bar li {
  display: inline-block;
  margin: 0 1rem;
}

.action-bar li:first-child {
  width: 75%;
}

.action-bar input[type="text"] {
  width: 100%;
  height: 2rem;
  border: solid 2px #DCE4EC;
  padding: 5px 8px;
  border-radius: 3px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  outline: none;
}

.action-bar input[type="text"]:focus {
  border: solid 2px #8fc3da;
}

.action-bar button[type="submit"] {
  border-radius: 50%;
  border: solid 2px #4196c2;
  background-color: #4196c2;
  color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

.action-bar button[type="submit"]:disabled {
  border: solid 2px #8fc3da;
  background-color: #e7f7ff;
  color: #b1d6e7;
}

.action-bar button ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: -0.1rem;
}

.action-bar button li {
  padding: 0;
  margin: 0;
}

.task-list ul {
  list-style-type: none;
}

.task-list > ul > li {
  background-color: #f9fbfc;
  /*box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);*/
  margin-bottom: 0.5rem;
}

.task li {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
}

.task li:first-child {
  width: 10%;
}

.task li:nth-child(2) {
  width: 79%;
}

.task li:last-child {
  width: 10%;
}

.task .task-serial {
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: solid 2px #8fc3da;
  background-color: #e7f7ff;
  color: #b1d6e7;
  font-size: 1.2rem;
}

.task .task-description input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  color: #2C3E50;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.task .task-star button {
  background: transparent;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  margin: auto;
  color: #dfe4e6;
}